@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>ООО "Сэйл Строй"</b>
    Юридический адрес организации: г.Минск, ул. Городецкая, д. 15, пом.128, каб.<br />
    Тел./факс: +375 17 286-44-44<br />
    УНП: 192018097
</address>

<address>
    <strong>Тех. поддержка:</strong>   <a href="mailto:Seylstroy@mail.ru">Seylstroy@mail.ru</a><br />
    <strong>Отдел продаж:</strong> <a href="mailto:Seylstroy@mail.ru">Seylstroy@mail.ru</a>
</address>