@{
    ViewBag.Title = "Главная";
}

    <p class="lead"> <img class="img-responsive" src="~/Content/salestroy.png" /></p>
    <p class="lead text-center"> Магазин строительных материалов</p>

<div class="row">
    <div class="col-xs-12">
        <p><a href="/tovars" class="btn btn-primary btn-lg"> Посмотреть товары &raquo;</a></p>
    </div>
</div>