@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Добро пожаловать!</h1>
    <p class="lead"> <img src="~/Content/241.jpg" /></p>
    <p class="lead"> Магазин строительных материалов SaleStroy </p>
</div>

<div class="row">

    <p><a href="/tovars" class="btn btn-primary btn-lg"> Посмотреть товары &raquo;</a></p>

</div>